/* 
    Created on : 26.apr.2016, 16:26:40
    Author     : s305054, s305084, s305089

    Most colors where found on a palette from this github project (retrieved april 27th 2016):
    https://github.com/chriskempson/base16
    
    And code examples is retrieved from this web-page (retrieved april 27th 2016):
    http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
*/

/* DEFINING CONSTANTS */
*{
    -fx-TextBase1: #ebedf3;
    -fx-MainBackground: #7c8fa5;
    -fx-CompBackground: #9CB5D3;
}


/* GENERAL*/
.pane-standard, .tool-bar, .tab-pane:top .tab-header-area .tab-header-background {
    -fx-background-color: -fx-MainBackground;
}
#borderpane {
    -fx-background-color: -fx-CompBackground;
}

.tab {
    -fx-background-radius: 0;
    -fx-background-color: linear-gradient(#7c8fa5, #3e4853);
    -fx-border-radius: 0;
    -fx-border-color: #272e36;

}

.tab-pane:top .tab-header-area .headers-region .tab:top:selected, 
.tab-pane:top .tab-header-area .headers-region .tab:top:selected .tab-container .tab-label {
    -fx-background-color: -fx-CompBackground;  
    -fx-text-fill: #000000;
}

/*TEXT COLOR*/
.tool-bar *.label, .tab-label, .color-picker, .button, 
.radio-button, .label {
    -fx-text-fill: -fx-TextBase1;
}
.radio-button, .label {
    -fx-font-weight: bold;
}

/* BUTTON */
.button {
    -fx-border-color: #000000;
    -fx-bar-gap: 10;
}
.color-picker, .button {
    -fx-background-color: linear-gradient(#56657b, #2c343e);
}
.button:hover {
    -fx-background-color: linear-gradient(#56657b 75%, #2c343e);
}

/* HowToPlay */
.advanced-tips {
    -fx-text-fill: #000000;
}
